:root{

    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    --very-dark-blue-main: hsl(217, 54%, 11%);
    --very-dark-blue-card: hsl(216, 50%, 16%);
    --white-accent: hsl(0, 0%, 100%);

}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    background-color: var(--very-dark-blue-main);
    font-family: 'Outfit', sans-serif;
    font-size: 1.125rem;
    color: var(--Soft-blue);
    font-weight: 300;

}

.main-card{
    background-color: var(--very-dark-blue-card);
    width: 19rem;
    height: 32.5rem;
    margin: 7.5rem auto;
    padding-top: 1.25rem;

    border-radius: 0.5rem;
}

.image-equilibrium{
    /* border: 1.5rem solid red; */
    display: block;
    width: 16.5rem;
    margin: 0rem auto 1.5rem;

    border-radius: 0.5rem;
    

    /* 
    MARGIN AUTO WAS NOT WORKING FOR THE IMAGE
    DUE TO DISPLAY INLINE, FOR IT TO BE CENTRED IN A DIV USE
    display: block; 
    */

}

.main-head{
    color: var(--white-accent);
    font-size: 1.125rem;
    font-weight: 600;
    width: 16rem;
    margin: auto;
}

.description{
    font-weight: 300;
    width: 16rem;
    margin: 1rem auto;
    font-size: 1rem;
}