:root{
    box-sizing: border-box;

    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    --very-dark-blue-main: hsl(217, 54%, 11%);
    --very-dark-blue-card: hsl(216, 50%, 16%);
    --white-accent: hsl(0, 0%, 100%);

}

body{
    background-color: var(--very-dark-blue-main);
    font-family: 'Outfit', sans-serif;
    font-size: 1.125rem;

}

.main-card{
    background-color: var(--very-dark-blue-card);
    width: 18.5rem;
    margin: 5rem auto;
    padding-top: 1.25rem;

    border-radius: 0.5rem;
}

.image-equilibrium{
    /* border: 1.5rem solid red; */
    display: block;
    width: 16rem;
    margin: 0rem auto 2rem;

    border-radius: 0.5rem;
    

    /* 
    MARGIN AUTO WAS NOT WORKING FOR THE IMAGE
    DUE TO DISPLAY INLINE, FOR IT TO BE CENTRED IN A DIV USE
    display: block; 
    */

}